<%- include header %>	
<div class="row-fluid">
		<div class="span3">
			<ul class="nav nav-list">
				<li class="nav-header">
				</li>
				<li class="active">
					<a href="#">版本介绍</a>
				</li>
				<li>
					<a href="#">操作指南</a>
				</li>
				<li>
					<a href="#">FAQ 技术交流</a>
				</li>
			</ul>
		</div>
		<div class="span9">
			<div class="media">
				<div class="media-body">
					<h4 class="media-heading">
						嵌入媒体标题
					</h4> 请尽量使用HTML5兼容的视频格式和视频代码实现视频播放, 以达到更好的体验效果.
				</div>
			</div>
			<div class="media">
				<div class="media-body">
					<h4 class="media-heading">
						嵌入媒体标题
					</h4> 请尽量使用HTML5兼容的视频格式和视频代码实现视频播放, 以达到更好的体验效果.
				</div>
			</div>
			<div class="pagination pagination-right">
				<ul>
					<li>
						<a href="#">上一页</a>
					</li>
					<li>
						<a href="#">下一页</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<%- include footer %>