<%- include header %>
<div class="span3"></div>
<div class="span6 j-content-side">
	<form class="form-horizontal" method='post' action='/upload' enctype='multipart/form-data'>

			<div class="control-group">
				<label class="control-label">资源上传:</label>

				<!-- File Upload -->
				<div class="controls">
					<input class="input-file" id="fileInput1" name="fileInput1" type="file">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">资源上传:</label>

				<!-- File Upload -->
				<div class="controls">
					<input class="input-file" id="fileInput2" name="fileInput2" type="file">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">资源上传:</label>

				<!-- File Upload -->
				<div class="controls">
					<input class="input-file" id="fileInput3" name="fileInput3" type="file">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">资源上传:</label>

				<!-- File Upload -->
				<div class="controls">
					<input class="input-file" id="fileInput4" name="fileInput4" type="file">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label"></label>

				<!-- Button -->
				<div class="controls">
					<input type="submit" class="btn btn-info" value="提交" />
				</div>
			</div>

	</form>

</div>
<%- include footer %>